/* NAVIGATION BAR STYLING START */
.nav-bar{
    background: #FFF;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .nav-bar .menu-icon{
   display: none;
  }
  .nav-bar .nav-menu{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
  }
  .nav-bar .nav-menu ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
  }
  .nav-bar .nav-menu ul li a{
    display: inline-block;
    cursor: pointer;
    color:#000F0C;
    font-size: 14px;
    position: relative;
    line-height: 20px;;
  }
  .nav-bar .nav-menu ul li a:hover{
    color:rgba(40, 206, 231, 1);
  }
  .nav-bar .nav-menu ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-3px;
    height: 3px;
    width: 0px;
    background-color: rgba(40, 206, 231, 1);
    transition: all 0.3s ease-in-out;
   }
   .nav-bar .nav-menu ul li a:hover::after{
    width: 100%;
   }
  .nav-bar .nav-menu button{
    padding: 8px 20px;
    background: #28CEE7;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #000F0C;
  }

  .nav-bar .nav-menu button:hover{
    background: #FFF;
    color: #000F0C;
    border: 2px solid #28CEE7
  }
  
  @media only screen and (max-width: 768px) {
    .nav-bar{
      padding: 20px 35px;
      background: #FFF;
    }
    .nav-bar .nav-logo-desktop {
      display: none;
    }
    .nav-bar .nav-logo-mobile {
      display: block;
    }
    .nav-bar .nav-logo-mobile img{
      width: 150px;
    }
    .nav-bar .menu-icon {
      display: block;
      cursor: pointer;
      font-size: 28px;
    }
    .nav-bar .nav-menu{
      padding: 0 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 90px;
      background: #FFF;
      background-color: rgba(0, 15, 12, 0.9); /* Equivalent RGBA color with 50% opacity */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border-radius: 5px;
      max-height: 0;
      transition: max-height .5s ease, padding .5s ease;
    }
    .nav-bar .nav-menu.open {
      max-height: 500px;
      padding: 30px 70px;
      border-bottom: 1px solid #28CEE7;
    }
    .nav-bar .nav-menu ul {
      text-align: center;
      list-style-type: none;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
    .nav-bar .nav-menu ul li a{
      color:#FFF;
      font-size: 20px;
    }
    .nav-bar .nav-menu ul li a:hover{
      color:rgba(40, 206, 231, 1);
    }
    .nav-bar .nav-menu ul li a::after{
      bottom:-5px;
      background-color: rgba(40, 206, 231, 1);
    }
    .nav-bar .nav-menu button{
      background:#28CEE7;
      color:#FFF;
      font-size: 18px;
    }
   }
  /* NAVIGATION BAR STYLING END */
  