.component-container .content-container .exercise-container{
   padding: 0 30px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.component-container .content-container .exercise-container ul{
    padding-left: 35px;
    list-style-type: none;
}
.component-container .content-container .exercise-container ul li{
    padding-bottom: 12px;
}
.component-container .content-container .exercise-container ul li a{
    color: #000F0C;
    font-size: 15px;
}
.component-container .content-container .exercise-container ul li a:hover{
   color: #28CEE7;
   text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .component-container .content-container .exercise-container{
        padding: 0 20px;
        gap: 20px;
    }
}