*{
  margin: 0;
  padding: 0;
}

strong{
  font-size: 14px;
}
.formulla-text{
  padding-left: 15px;
  font-size: 8px;
  color: rgb(43, 34, 34)
}
body{
 font-family: Helvetica, sans-serif;
 color: #000F0C;
 background: #f1f1f1;
}
a{
  text-decoration: none;
}
.component-container{
  width: 740px;
  margin: 10px auto;
}

.content-container{
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 40px 0px;
}

.search-component .search-box{
  padding: 5px 15px;
  border: 1px solid #28CEE7;
  border-radius: 5px;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .component-container {
    width: 100%;
  }
  .content-container{
    padding: 30px 0px;
    gap: 50px;
   }
 }


